:root {
  --font: "Rubik", sans-serif;
  --text-color: black;
  --background-color: white;
  --accent-color: #C5CDD1; /* chrome: #F1F3F4 first: #a2afaf;*/
  --accent-color-rgb: 162, 175, 175;
}

::selection {
  background: var(--accent-color);
}

::-webkit-scrollbar {
  height: 5px;
  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 5px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font);
  text-align: center;
}

hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
}

footer {
  background-color: var(--accent-color);
}

.hero-h1 {
  font-weight: 700;
  font-size: min(calc(20vw),calc(40vh));
}

.hero-h2 {
  font-weight: 300;
  font-size: min(calc(20vw),calc(40vh));
}

.custom-btn {
  background: var(--accent-color);
  border: none;
  font-size: x-large;
}

button a, button a:hover{
  color: var(--text-color);
  text-decoration: none;
}